.legend {

    font-size: 1.5em !important;
    padding: 10px;

    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    gap: 20px;
    height: 40px;
    width: 500px;
    border-radius: 12.5px;
    border:none;
    outline: none;
    font-size: 20px;
    margin: 20px;
    justify-content: space-around;
  }
.true-selected{
    color: green;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.false-selected{
    color: black;
    cursor: pointer;
}
